In [ ]:
import sqlite3

# 1.Conectar ao banco de dados (ou criar um novo)
conn = sqlite3.connect('exemplo.db')


# 2. Criar um objeto cursor
cursor = conn.cursor()

# 3. Definir o comando SQL para criar a tabela

create_table = """
CREATE TABLE IF NOT EXISTS Produtos (
    id INTEGER PRIMARY KEY,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    estoque INTEGER
);

"""

# 4.Executar o comando SQL para criar a tabela
cursor.execute(create_table)


# 5. Confirmar as alterações (commit)
conn.commit()


# 6.  Fechar a conexão com o banco de dados
conn.close()

In [7]:
#CRUD (Cursor, Read, Update, Delete)

import sqlite3

# Conectando ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# Dados do novo produto

novo_produto = ("Camiseta", 19.99, 50)

# Comando SQL para inserir o novo produto na tabela

inserir_produto = 'INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)'

# Executando o comando SQL para inserção

cursor.execute(inserir_produto, novo_produto)

# Confirmando as alterações

conn.commit()

# Fechando a conexão

conn.close()

import sqlite3

In [10]:
# Conectanto ao banco de dados

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

#Comando SQL para selecionar todos os produtos

selecionar_produtos = "SELECT * FROM Produtos"

#Executando o comando SQL
cursor.execute(selecionar_produtos)

#Obtendo os todos os registros e exibindo-os
produtos = cursor.fetchall()

for produto in produtos:
    print(produto)
    
# Fechando a conexão
conn.close()

(1, 'Camiseta', 19.99, 50)
(2, 'Camiseta', 19.99, 50)
(3, 'Camiseta', 19.99, 50)

In [11]:
#Acompanhe, agora, um exemplo de como atualizar o preço de um produto específico na tabela "Produtos"

import sqlite3

conn = sqlite3.connect('exemplo.db')

cursor = conn.cursor()

# Novo preço e ID do produto a ser atualizado

novo_preco = 24.99

produto_id = 1 

# Comando SQL para atualizar o preço do produto

atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"

#Executando o comando SQL de atualização

cursor.execute(atualizar_preco, (novo_preco, produto_id))

#Confirmando as alterações

conn.commit()

# Fechando a conexão

conn.close()

In [12]:
# Exemplo de como excluir um produto da tabela "Produtos" com base no seu ID;

import sqlite3

conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# ID do produto a ser excluído

produto_id = 2 

# Comando SQL para excluir o produto

excluir_produto = "DELETE FROM Produtos WHERE id = ?"

# Executando o comando SQL de exclusão

cursor.execute(excluir_produto, (produto_id,))

# Confirmando as alterações 

conn.commit()

# Fechando a conexão

conn.close()

In [19]:
# Exercício

import sqlite3

# CREATE (Criação da tabela e inserção de dados de exemplo)

conn = sqlite3.connect('contatos.db')

cursor = conn.cursor()

cursor.execute(
    '''
CREATE TABLE IF NOT EXISTS Contatos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT,
    email TEXT,
    telefone TEXT
)    
    '''
)

dados_exemplo = [
    ('João', 'joao@email.com', '123-234-345'),
    ('Maria', 'maria@email.com', '456-567-678'),
    ('Pedro', 'pedro@email.com', '789-890-901') 
]

cursor.executemany('INSERT INTO Contatos (nome,email,telefone) VALUES (?,?,?)', dados_exemplo)

conn.commit()

# READ (Leitura e exibição dos contatos)

cursor.execute('SELECT * FROM Contatos')

contatos = cursor.fetchall()

print("Contatos:")

for contato in contatos:
    print(contato)

# UPDATE (Atualização do número de telefone do contato com ID 2)

novo_telefone = '999-999-9999'

contato_id = 2

cursor.execute('UPDATE  Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))

conn.commit()

# DELETE (Exclusão do contato con ID 1)

contato_id_para_excluir = 1

cursor.execute('DELETE FROM  Contatos WHERE id = ?', (contato_id_para_excluir,))

conn.commit()

# Fechando a conexão

conn.close()

Contatos:
(2, 'Maria', 'maria@email.com', '999-999-9999')
(3, 'Pedro', 'pedro@email.com', '789-890-901')
(4, 'João', 'joao@email.com', '123-234-345')
(5, 'Maria', 'maria@email.com', '456-567-678')
(6, 'Pedro', 'pedro@email.com', '789-890-901')
(7, 'João', 'joao@email.com', '123-234-345')
(8, 'Maria', 'maria@email.com', '456-567-678')
(9, 'Pedro', 'pedro@email.com', '789-890-901')
(10, 'João', 'joao@email.com', '123-234-345')
(11, 'Maria', 'maria@email.com', '456-567-678')
(12, 'Pedro', 'pedro@email.com', '789-890-901')
(13, 'João', 'joao@email.com', '123-234-345')
(14, 'Maria', 'maria@email.com', '456-567-678')
(15, 'Pedro', 'pedro@email.com', '789-890-901')
(16, 'João', 'joao@email.com', '123-234-345')
(17, 'Maria', 'maria@email.com', '456-567-678')
(18, 'Pedro', 'pedro@email.com', '789-890-901')
(19, 'João', 'joao@email.com', '123-234-345')
(20, 'Maria', 'maria@email.com', '456-567-678')
(21, 'Pedro', 'pedro@email.com', '789-890-901')